<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Home | Website Manager</title>
  </head>
  <body>
    <header>
      <div class="logo-ctr">
        <!-- <img src="img/" alt="logo" class="logo" /> -->
        Website Manager
      </div>
      <nav>
        <a href="/" style="color: slateblue; border-bottom: 1px solid slateblue"
          >HOME</a
        >
        <a href="/add">ADD WEBSITE</a>
        <a href="/remove">REMOVE WEBSITE</a>
        <a href="/search">SEARCH WEBSITE</a>
        <a href="/list">LIST WEBSITES</a>
      </nav>
    </header>

    <script src="js/index.js"></script>
  </body>
</html>
